<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--    引入数据源-->
    <properties resource="jdbc.properties"/>

    <settings>
        
        <setting name="useGeneratedKeys" value="true"/>
        <!--开启驼峰映射规则-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <setting name="logImpl" value="LOG4J"/>

    </settings>

    <!--    类型别名-->
    <typeAliases>
        <package name="org.kgc.pojo"/>
    </typeAliases>

    <!--    数据库环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${data.driver}"/>
                <property name="url" value="${data.url}"/>
                <property name="username" value="${data.username}"/>
                <property name="password" value="${data.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="org.kgc.mapper"/>
    </mappers>

</configuration>