<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kgc.mapper.CaseinfoMapper">
    <insert id="addCaseinfo" useGeneratedKeys="true" keyProperty="caseid">
        INSERT INTO caseinfo (caseid,
                              diagnosis,
                              curescheme,
                              curetime,
                              sickid,
                              stafid,
                              casestate,
                              regid)
        VALUES (null,
                null,
                null,
                null,
                #{sickid},
                #{stafid},
                0,
                #{regid});

    </insert>
    <update id="updateCaseinfo">
        update caseinfo
        <set>
            <if test="diagnosis!='' and diagnosis!=null">
                diagnosis = #{diagnosis},
            </if>
            <if test="curescheme!='' and curescheme!=null">
                curescheme = #{curescheme},
            </if>
            <if test="curetime!='' and curetime!=null">
                curetime = #{curetime},
            </if>
            casestate = 1
        </set>
        where caseid = #{caseid}
    </update>

    <select id="getCaseinfoBySickid" resultType="caseResult">
        SELECT caseinfo.caseid,
               sickerinfo.sickname,
               deptinfo.deptname,
               stafinfo.stafid,
               stafinfo.stafname,
               caseinfo.diagnosis,
               caseinfo.curescheme,
               caseinfo.curetime,
               caseinfo.casestate,
               reginfo.regdate,
               regfeestander.regdesc,
               regfeestander.regfee
        FROM caseinfo,
             sickerinfo,
             stafinfo,
             deptinfo,
             reginfo,
             regfeestander
        WHERE caseinfo.sickid = sickerinfo.sickid
          AND caseinfo.stafid = stafinfo.stafid
          AND stafinfo.deptid = deptinfo.deptid
          and caseinfo.regid = reginfo.regid
          and reginfo.stafid = stafinfo.stafid
          and regfeestander.regfeeid = reginfo.regfeeid
          AND sickerinfo.sickid = #{sickid}
        ORDER BY reginfo.regdate
                DESC
    </select>
    <select id="getCaSeByStafidAndSickidAndRegid" resultType="org.kgc.pojo.CaseInfo">
        SELECT caseinfo.caseid,
               caseinfo.diagnosis,
               caseinfo.curescheme,
               caseinfo.casestate,
               caseinfo.curetime,
               caseinfo.stafid,
               caseinfo.sickid
        FROM stafinfo,
             caseinfo,
             reginfo
        WHERE stafinfo.stafid = caseinfo.stafid
          AND reginfo.regid = caseinfo.regid
          AND reginfo.regid = #{regid}
          AND caseinfo.sickid = #{sickid}
          AND stafinfo.stafid = #{stafid}
    </select>


</mapper>