<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kgc.mapper.CaseMapper">

    <!--根据医生编号查询所有病例信息-->
    <select id="selectAll" resultType="org.kgc.pojo.Case">
        SELECT
        caseinfo.caseid,
        stafinfo.stafname,
        regfeestander.regdesc,
        caseinfo.diagnosis,
        caseinfo.curescheme,
        caseinfo.casestate,
        caseinfo.curetime,
        regfeestander.regfee
        FROM
        stafinfo,
        reginfo,
        caseinfo,
        regfeestander
        WHERE
        stafinfo.deptid = reginfo.deptid
        AND reginfo.sickid = caseinfo.sickid
        AND regfeestander.regfeeid = reginfo.regfeeid
        AND reginfo.stafid = stafinfo.stafid
        AND caseinfo.stafid = stafinfo.stafid
        AND stafinfo.stafid = #{stafid}


    </select>

    <!--根据病人编号查询该病人的病例信息-->
    <select id="selectByIdCase" resultType="org.kgc.pojo.Case">
        SELECT
        caseinfo.caseid,
        stafinfo.stafname,
        regfeestander.regdesc,
        caseinfo.diagnosis,
        caseinfo.curescheme,
        caseinfo.casestate,
        caseinfo.curetime,
        regfeestander.regfee
        FROM
        stafinfo,
        reginfo,
        caseinfo,
        regfeestander
        WHERE
        stafinfo.deptid = reginfo.deptid
        AND reginfo.sickid = caseinfo.sickid
        AND regfeestander.regfeeid = reginfo.regfeeid
        AND reginfo.stafid = stafinfo.stafid
        AND caseinfo.stafid = stafinfo.stafid
        AND reginfo.regid = caseinfo.regid
        AND caseinfo.sickid = #{sickid}
        AND stafinfo.stafid = #{stafid}
        AND reginfo.regid = #{regid}
    </select>

    <!--根据病例编号查询该病人的病例的详细信息-->
    <select id="selectByCaseId" resultType="org.kgc.pojo.Case">
        select caseinfo.caseid,
        stafinfo.stafname,
        regfeestander.regdesc,
        caseinfo.diagnosis,
        caseinfo.curescheme,
        caseinfo.casestate,
        caseinfo.curetime,
        regfeestander.regfee
        FROM stafinfo,
        reginfo,
        caseinfo,
        regfeestander
        where stafinfo.deptid = reginfo.deptid
        AND reginfo.sickid = caseinfo.sickid
        AND regfeestander.regfeeid = reginfo.regfeeid
        AND reginfo.stafid = stafinfo.stafid
        AND caseinfo.stafid = stafinfo.stafid
        and caseinfo.caseid = #{caseid}
    </select>

    <!--修改病例-->
    <update id="updateCase">
        update caseinfo
        <set>
            <if test="diagnosis != null and diagnosis != ''">
                diagnosis = #{diagnosis},
            </if>
            <if test="curescheme != null and curescheme != ''">
                curescheme = #{curescheme},
            </if>
            <if test="curetime != null and curetime != ''">
                curetime = #{curetime},
            </if>
            <if test="sickid != null">
                sickid = #{sickid},
            </if>
            <if test="stafid != null">
                stafid = #{stafid},
            </if>
            <if test="casestate != null">
                casestate = #{casestate},
            </if>
        </set>
        where caseid = #{caseid}
    </update>
    <!--修改收费标准-->
    <update id="updateRegfee">
        update regfeestander
        <set>
            <if test="regdesc != null and regdesc != ''">
                regdesc = #{regdesc},
            </if>
            <if test="regfee != null">
                regfee = #{regfee},
            </if>
        </set>
        where regfeeid = #{regfeeid}
    </update>
    <!--修改工作人员信息-->
    <update id="updateStaf">
        update stafinfo
        <set>
            <if test="postid != null">
                postid = #{postid},
            </if>
            <if test="deptid != null">
                deptid = #{deptid},
            </if>
            <if test="stafcard != null and stafcard != ''">
                stafcard = #{stafcard},
            </if>
            <if test="stafname != null and stafname != ''">
                stafname = #{stafname},
            </if>
            <if test="rankid != null">
                rankid = #{rankid},
            </if>
            <if test="stafintro != null and stafintro != ''">
                stafintro = #{stafintro},
            </if>
            <if test="stafstate != null">
                stafstate = #{stafstate},
            </if>
            <if test="stafphone != null and stafphone != ''">
                stafphone = #{stafphone},
            </if>
            <if test="stafphone != null and stafphone != ''">
                stafphone = #{stafphone},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
        </set>
        where stafid = #{stafid}
    </update>
    <!--根据工作人员编号查询工作人员信息-->
    <select id="selectByStafId" resultType="org.kgc.pojo.Stafinfo">
        select * from stafinfo where stafid = #{stafid}
    </select>
    <!--根据科室编号查询科室信息-->
    <select id="selectByRankId" resultType="org.kgc.pojo.Rankinfo">
        select * from rankinfo where rankid = #{rankid}
    </select>
    <!--根据收费标准编号查询收费标准信息-->
    <select id="selectByRegfeeStanderId" resultType="org.kgc.pojo.Regfeestander">
        select * from regfeestander where regfeeid = #{regfeeid}
    </select>
    <!--根据病人id查询病人信息-->
    <select id="selectByCaseInfoId" resultType="org.kgc.pojo.CaseInfo">
        select * from caseinfo where caseid = #{caseid}
    </select>
    <!--//根据病人编号查询该病人的病例信息(分页查询)-->
    <select id="selectByPageAndCondition" resultType="org.kgc.pojo.Case">
        select caseinfo.caseid,
        stafinfo.stafname,
        regfeestander.regdesc,
        caseinfo.diagnosis,
        caseinfo.curescheme,
        caseinfo.casestate,
        caseinfo.curetime,
        regfeestander.regfee
        from stafinfo,
        reginfo,
        caseinfo,
        regfeestander

        <where>
            and stafinfo.deptid = reginfo.deptid
            and reginfo.sickid = caseinfo.sickid
            and regfeestander.regfeeid = reginfo.regfeeid
            and reginfo.stafid = stafinfo.stafid
            and caseinfo.stafid = stafinfo.stafid
            and caseinfo.stafid = #{stafid}

            <if test="bingli.stafid != null ">
                and caseinfo.stafid = #{bingli.stafid}
            </if>

            <if test="bingli.diagnosis != null and bingli.diagnosis != '' ">
                and caseinfo.diagnosis like #{bingli.diagnosis}
            </if>

            <if test="bingli.curescheme != null and bingli.curescheme != '' ">
                and caseinfo.curescheme like #{bingli.curescheme}
            </if>

        </where>

        limit #{begin} , #{size}
    </select>
    <!--根据条件查询总记录数-->
    <select id="selectTotalCountByCondition" resultType="java.lang.Integer">
        select count(*)
        from stafinfo, reginfo, caseinfo, regfeestander
        <where>
            and stafinfo.deptid = reginfo.deptid
            and reginfo.sickid = caseinfo.sickid
            and regfeestander.regfeeid = reginfo.regfeeid
            and reginfo.stafid = stafinfo.stafid
            and caseinfo.stafid = stafinfo.stafid
            and caseinfo.stafid = #{stafid}

            <if test="stafid != null ">
                and caseinfo.stafid = #{stafid}
            </if>

            <if test="diagnosis != null and diagnosis != '' ">
                and caseinfo.diagnosis like #{diagnosis}
            </if>

            <if test="curescheme != null and curescheme != '' ">
                and caseinfo.curescheme like #{curescheme}
            </if>

        </where>

    </select>
    <!--根据病人编号查询该病人的病例信息(分页查询)-->
    <select id="selectByPageAndStafid" resultType="org.kgc.pojo.Case">
        select caseinfo.caseid,
        stafinfo.stafname,
        regfeestander.regdesc,
        caseinfo.diagnosis,
        caseinfo.curescheme,
        caseinfo.casestate,
        caseinfo.curetime,
        regfeestander.regfee
        from stafinfo,
        reginfo,
        caseinfo,
        regfeestander
        where
        stafinfo.deptid = reginfo.deptid
        and reginfo.sickid = caseinfo.sickid
        and regfeestander.regfeeid = reginfo.regfeeid
        and reginfo.stafid = stafinfo.stafid
        and caseinfo.stafid = stafinfo.stafid
        and caseinfo.stafid = #{stafid}
        and caseinfo.stafid = #{stafid}
        limit #{begin} , #{size}
    </select>
    <!--根据条件查询总记录数-->
    <select id="selectTotalCountByStafid" resultType="java.lang.Integer">
        select count(*)
        from stafinfo, reginfo, caseinfo, regfeestander
        where stafinfo.deptid = reginfo.deptid
        and reginfo.sickid = caseinfo.sickid
        and regfeestander.regfeeid = reginfo.regfeeid
        and reginfo.stafid = stafinfo.stafid
        and caseinfo.stafid = stafinfo.stafid
        and caseinfo.stafid = #{stafid}
        and caseinfo.stafid = #{stafid}
    </select>
</mapper>