<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kgc.mapper.DataForShowMapper">

    <select id="getCaseNumByDept" resultType="CaseNumByDoctor">
        SELECT COUNT(0) AS casenum, deptinfo.deptname
        FROM caseinfo,
             stafinfo,
             deptinfo
        WHERE caseinfo.stafid = stafinfo.stafid
          and deptinfo.deptid = stafinfo.deptid
          AND caseinfo.casestate = 1
        GROUP BY deptinfo.deptid
        ORDER BY casenum DESC
    </select>
    <select id="getDoctorNumByDept" resultType="java.util.HashMap">
        SELECT COUNT(0) as stafnum, deptinfo.deptname
        FROM stafinfo,
             deptinfo
        WHERE stafinfo.deptid = deptinfo.deptid
        GROUP BY deptinfo.deptid
    </select>
    <select id="getHotDrug" resultType="hotDrug">
        SELECT druginfo.drugname,
               SUM(prescinfo.drugcount) as drugnum
        FROM druginfo,
             prescinfo
        WHERE druginfo.drugid = prescinfo.drugid
        GROUP BY druginfo.drugid
        ORDER BY drugnum DESC
    </select>

    <select id="getMostCaseNumForDoctorByDept" resultType="MCNDD">
        SELECT COUNT(0) AS mostcasenum, stafinfo.stafname
        FROM caseinfo,
             stafinfo,
             deptinfo
        WHERE caseinfo.stafid = stafinfo.stafid
          AND deptinfo.deptid = stafinfo.deptid
          AND caseinfo.casestate = 1
        GROUP BY stafinfo.stafid, deptinfo.deptid
        ORDER BY mostcasenum DESC
    </select>


</mapper>