<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kgc.mapper.PaibanMapper">

    <select id="getPaibanStafByDate" resultType="HashMap">
        select * from stafinfo,paiban where stafinfo.stafid = paiban.stafid and date = #{date}
    </select>
    <insert id="addDuty" >
        insert into paiban values(default,#{stafid},#{date})
    </insert>
    <delete id="deleteDuty">
        delete from paiban where stafid=#{stafid} and date =#{date}
    </delete>
    <select id="selectDoctorByDateAndByDeptid" resultType="HashMap">
        select * from paiban,stafinfo,deptinfo
        where paiban.stafid = stafinfo.stafid and stafinfo.deptid = deptinfo.deptid
        and date = #{date} and deptinfo.deptid = #{deptid} and stafinfo.stafstate = 1
    </select>


</mapper>