<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--    <filter>-->
    <!--        <filter-name>LoginFilter</filter-name>-->
    <!--        <filter-class>org.kgc.controller.LoginFilter</filter-class>-->
    <!--    </filter>-->
    <!--    <filter-mapping>-->
    <!--        <filter-name>LoginFilter</filter-name>-->
    <!--        <url-pattern>/*</url-pattern>-->
    <!--    </filter-mapping>-->
    
    <servlet>
        <servlet-name>SelectDoctorServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectDoctorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectDoctorServlet</servlet-name>
        <url-pattern>/selectDoctor</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetCaseByStafidAndSickidAndRegid</servlet-name>
        <servlet-class>org.kgc.controller.GetCaSeByStafidAndSickidAndRegidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCaseByStafidAndSickidAndRegid</servlet-name>
        <url-pattern>/getCaSeByStafidAndSickidAndRegid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ToDoctorManagerServlet</servlet-name>
        <servlet-class>org.kgc.controller.ToDoctorManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToDoctorManagerServlet</servlet-name>
        <url-pattern>/toDoctorManager</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetLeaveWordServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetLeaveWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLeaveWordServlet</servlet-name>
        <url-pattern>/getLeaveWord</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SickerLoginServlet</servlet-name>
        <servlet-class>org.kgc.controller.SickerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSickInfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.UpdateSickInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeavewordsServlet</servlet-name>
        <servlet-class>org.kgc.controller.LeavewordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SickRegServlet</servlet-name>
        <servlet-class>org.kgc.controller.SickRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToSickRegServlet</servlet-name>
        <servlet-class>org.kgc.controller.ToSickRegServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetPresicByCaseidServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetPresicByCaseidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCaseinfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetCaseinfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToLeavewordServlet</servlet-name>
        <servlet-class>org.kgc.controller.ToLeavewordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StafLoginServlet</servlet-name>
        <servlet-class>org.kgc.controller.StafLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddApplicantidServlet</servlet-name>
        <servlet-class>org.kgc.controller.AddApplicantidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectPostServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectApplicantsServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectApplicantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCaridServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectCaridServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectDeptApplicantsServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectDeptApplicantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeptApplicantServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetDeptApplicantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeptInfoServletForwardStafentryServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetDeptInfoServletForwardStafentryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStafinfoOnDayServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetStafinfoOnDayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDutyServlet</servlet-name>
        <servlet-class>org.kgc.controller.DeleteDutyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDutyServlet</servlet-name>
        <url-pattern>/deleteDuty</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetStafinfoOnDayServlet</servlet-name>
        <url-pattern>/getStafinfoOnDay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeptInfoServletForwardStafentryServlet</servlet-name>
        <url-pattern>/getDeptInfoServletForwardStafentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeptApplicantServlet</servlet-name>
        <url-pattern>/getDeptApplicant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectDeptApplicantsServlet</servlet-name>
        <url-pattern>/selectDeptApplicants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectCaridServlet</servlet-name>
        <url-pattern>/selectCarid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectApplicantsServlet</servlet-name>
        <url-pattern>/selectApplicants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectPostServlet</servlet-name>
        <url-pattern>/selectPost</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddApplicantidServlet</servlet-name>
        <url-pattern>/addApplicant</url-pattern>
    </servlet-mapping>


    <!--    查询所有新闻-->
    <servlet>
        <servlet-name>SelectNewsServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectNewsServlet</servlet-name>
        <url-pattern>/selectNews</url-pattern>
    </servlet-mapping>
    <!--    按新闻编号查询新闻-->
    <servlet>
        <servlet-name>SelectNewsContServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectNewsconServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SelectNewsContServlet</servlet-name>
        <url-pattern>/selectNewsCont</url-pattern>
    </servlet-mapping>
    <!--    添加新闻-->
    <servlet>
        <servlet-name>AddNewsServlet</servlet-name>
        <servlet-class>org.kgc.controller.AddNewsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddNewsServlet</servlet-name>
        <url-pattern>/addNews</url-pattern>
    </servlet-mapping>
    <!--修改新闻-->
    <servlet>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <servlet-class>org.kgc.controller.UpdateNewsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <url-pattern>/updateNews</url-pattern>
    </servlet-mapping>
    <!--    根据新闻id修改新闻-->
    <servlet>
        <servlet-name>SelectNewsByIdServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectNewsByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectNewsByIdServlet</servlet-name>
        <url-pattern>/getById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StafLoginServlet</servlet-name>
        <url-pattern>/stafLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToLeavewordServlet</servlet-name>
        <url-pattern>/toLeaveword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCaseinfoServlet</servlet-name>
        <url-pattern>/getCaseinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPresicByCaseidServlet</servlet-name>
        <url-pattern>/getPresicByCaseid</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ToSickRegServlet</servlet-name>
        <url-pattern>/toSickReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SickRegServlet</servlet-name>
        <url-pattern>/sickReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeavewordsServlet</servlet-name>
        <url-pattern>/leaveword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStafinfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.AddStafinfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeptinfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetDeptinfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeptinfoAndForwardServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetDeptinfoAndForwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToAddStafinfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.ToAddStafinfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPostinfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetPostinfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeptCountServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetDeptCountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDeptnameServlet</servlet-name>
        <servlet-class>org.kgc.controller.CheckDeptnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDeptinfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.AddDeptinfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeptinfoLikeDeptnameServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetDeptinfoLikeDeptnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPostnameServlet</servlet-name>
        <servlet-class>org.kgc.controller.CheckPostnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPostinfoAndForwardServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetPostinfoAndForwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostinfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.AddPostinfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPostinfoLikePostnameServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetPostinfoLikePostnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStafinfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetStafinfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStafinfoLikeDeptnameOrPostnameOrStafnameServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetStafinfoLikeDeptnameOrPostnameOrStafnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiredStafinfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.FiredStafinfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeptinfoByPostidServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetDeptinfoByPostidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SickerRegisterServlet</servlet-name>
        <servlet-class>org.kgc.controller.SickerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSchedulingServlet</servlet-name>
        <servlet-class>org.kgc.controller.AddSchedulingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDutyServlet</servlet-name>
        <servlet-class>org.kgc.controller.AddDutyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDrugInfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.UpdateDrugInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectUnDateDrugInfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectUnDateDrugInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectDrugInfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectDrugInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectDateDrugInfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectDateDrugInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAllDrugInfoServlet</servlet-name>
        <servlet-class>org.kgc.controller.SelectAllDrugInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStafinfoByDeptidServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetStafinfoByDeptidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDrugsServlet</servlet-name>
        <servlet-class>org.kgc.controller.GetDrugsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPresicServlet</servlet-name>
        <servlet-class>org.kgc.controller.ShowPresicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowPresicServlet</servlet-name>
        <url-pattern>/showPresic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDrugsServlet</servlet-name>
        <url-pattern>/getDrugs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStafinfoByDeptidServlet</servlet-name>
        <url-pattern>/getStafinfoByDeptid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAllDrugInfoServlet</servlet-name>
        <url-pattern>/selectAllDrugInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectDateDrugInfoServlet</servlet-name>
        <url-pattern>/selectDateDrugInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectDrugInfoServlet</servlet-name>
        <url-pattern>/selectDrugInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectUnDateDrugInfoServlet</servlet-name>
        <url-pattern>/selectUnDateDrugInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDrugInfoServlet</servlet-name>
        <url-pattern>/updateDrugInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDutyServlet</servlet-name>
        <url-pattern>/addDuty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSchedulingServlet</servlet-name>
        <url-pattern>/addScheduling</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>ShowStafOnDayServlet</servlet-name>-->
    <!--        <url-pattern>/showStafOnDay</url-pattern>-->
    <!--    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>SickerRegisterServlet</servlet-name>
        <url-pattern>/sickerRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeptinfoByPostidServlet</servlet-name>
        <url-pattern>/getDeptinfoByPostid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiredStafinfoServlet</servlet-name>
        <url-pattern>/firedStafinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStafinfoLikeDeptnameOrPostnameOrStafnameServlet</servlet-name>
        <url-pattern>/getStafinfoLikeDeptnameOrPostnameOrStafname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStafinfoServlet</servlet-name>
        <url-pattern>/getStafinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostinfoLikePostnameServlet</servlet-name>
        <url-pattern>/getPostinfoLikePostname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostinfoServlet</servlet-name>
        <url-pattern>/addPostinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostinfoAndForwardServlet</servlet-name>
        <url-pattern>/getPostinfoAndForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPostnameServlet</servlet-name>
        <url-pattern>/checkPostname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeptinfoLikeDeptnameServlet</servlet-name>
        <url-pattern>/getDeptinfoLikeDeptname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDeptinfoServlet</servlet-name>
        <url-pattern>/addDeptinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDeptnameServlet</servlet-name>
        <url-pattern>/checkDeptname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeptCountServlet</servlet-name>
        <url-pattern>/getDeptCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostinfoServlet</servlet-name>
        <url-pattern>/getPostinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeptinfoAndForwardServlet</servlet-name>
        <url-pattern>/getDeptinfoAndForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToAddStafinfoServlet</servlet-name>
        <url-pattern>/toAddStafinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeptinfoServlet</servlet-name>
        <url-pattern>/getDeptinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStafinfoServlet</servlet-name>
        <url-pattern>/addStafinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSickInfoServlet</servlet-name>
        <url-pattern>/updateSickInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SickerLoginServlet</servlet-name>
        <url-pattern>/sickerLogin</url-pattern>
    </servlet-mapping>
</web-app>